body {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

header {
    background-color: dodgerblue;
    color: white;
}

h1{
    display:inline-block;
    box-sizing: border-box;
    width: 49%;
    padding: 16px;
    vertical-align: middle;
}

nav a {
    color: white;
}

nav {
    display: inline-block;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 5px 16px;
    vertical-align: middle;
}


.column_1 {
    display: inline-block;
    vertical-align: top;
    width: 25%; 
}

.column_1 h4 {
    margin: 5px;
}

.column_1 button {
    display: block;
    vertical-align: bottom;
    margin: 5px;
    cursor: pointer;
}

.column_2 {
    display: inline-block;
    width: 74%;
}

.column_2 img {
    display: inline-block;
    width: 38%;
    vertical-align: middle;
    padding: 5px;
}

.preview {
    display: inline-block;
    width: 58%;
    vertical-align: middle;
}


textarea {
    position: relative;
}

.user_comment {
    margin-top: 10px;
    border-color: black;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
}

.user_comment img {
    padding-top: 10px;
    border-radius: 50%;
    max-width: 100px;

}

footer {
    background-color: dodgerblue;
    color: white;
    padding: 8px;
    text-align: center;
}

